---
import BaseLayout from "../layouts/BaseLayout.astro"
import Breadcrumb from "../components/Breadcrumb.tsx"
---

<BaseLayout title="Impressum">
    <Breadcrumb title="Impressum" url="/1/3-min.jpg" />
    <div class="container">
        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Doreen Sigmunczyk<br />
        Sonnenlandstra&szlig;e 31<br />
        14471 Potsdam</p>

        <h2>Kontakt</h2>
        <p>Telefon: 01734070810<br />
        E-Mail: d.sigmunczyk@gmx.de</p>
    </div>
</BaseLayout>
