---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Willkommen">
    <div class="slider-available-sec">
        <section id="main-slider">
            <div class="items">
            <div class="img-container" data-bg-img="/2/1-min.jpg"></div>
            <div class="slide-caption">
                <div class="inner-container clearfix">
                <div class="up-sec">Herzlich Willkommen</div>
                <div class="down-sec">auf unserer Website</div>
                </div>
            </div>
            </div>
            <div class="items">
            <div class="img-container" data-bg-img="/1/3-min.jpg"></div>
            <div class="slide-caption">
                <div class="inner-container clearfix">
                <div class="up-sec">Für einen erholsamen Aufenthalt</div>
                <div class="down-sec">Seien Sie unser Gast</div>
                </div>
            </div>
            </div>
            <div class="items">
            <div class="img-container" data-bg-img="/1/4-min.jpg"></div>
            <div class="slide-caption">
                <div class="inner-container clearfix">
                <div class="up-sec">Fühlen Sie sich wie zuhause</div>
                <div class="down-sec">in stilvoller Atmosphäre</div>
                </div>
            </div>
            </div>
        </section>
        </div>

        <section id="welcome-section">
        <div class="inner-container container">
            <div class="l-sec col-md-7">
            <div class="ravis-title-t-1">
                <div class="title">
                <span>Ferienwohnungen Sonnenland</span>
                </div>
                <div class="sub-title">
                Entdecken Sie die Residenzstadt Potsdam
                </div>
            </div>
            <div class="content">
                Genießen Sie das historische Ambiente der denkmalgeschützten
                Siedlung Sonnenland im Stadtteil Potsdam-West in der ebenso
                benannten Straße. Der ideale Ausgangspunkt für Ausflüge zum Neuen
                Palais des Parks Sanssouci, ins Zentrum der Residenzstadt Potsdam,
                nach Berlin oder auch in die Blütenstadt Werder. Sie erreichen in
                ca. 7 Minuten Fußweg die Haltestelle der öffentlichen
                Verkehrsmittel zu einer Fahrt in die historische Innenstadt oder
                zum Transfer nach Berlin, Einkaufsmöglichkeiten, sowie den
                direkten Zugang zu den Havelseen. Dieser lädt ein zu
                weitreichenden Spaziergängen oder Radtouren am Wasser entlang. In
                unmittelbarer Nähe befindet sich ein ruhiges Gartenlokal. Die
                Dachgeschosswohnungen sind mit stilvollen Möbeln aus Pinienholz
                ausgestattet.
            </div>
            </div>
            <div class="r-sec col-md-5">
            <img src="/landtag-min.jpg" />
            </div>
        </div>
        </section>

        <section id="luxury-rooms" class="clearfix">
        <div class="room-boxes col-sm-6 col-md-6">
            <a
            href="/wohnung-1"
            class="inner-container"
            data-bg="/1/1-min.jpg"
            >
            <span class="ravis-title">
                <span class="inner-box">
                <span class="title">Wohnung I</span>
                <span class="sub-title">Große Wohnung</span>
                </span>
            </span>
            </a>
        </div>
        <div class="room-boxes col-sm-6 col-md-6">
            <a
            href="/wohnung-2"
            class="inner-container"
            data-bg="/2/1-min.jpg"
            >
            <span class="ravis-title">
                <span class="inner-box">
                <span class="title">Wohnung II</span>
                <span class="sub-title">Kleine Wohnung</span>
                </span>
            </span>
            </a>
        </div>
    </section>
</BaseLayout>
