---
import BaseLayout from "../layouts/BaseLayout.astro"
import Breadcrumb from "../components/Breadcrumb.tsx"
---

<BaseLayout title="Preisgestaltung">
    <Breadcrumb title="Preisgestaltung" url="/1/3-min.jpg" />
    <section id="special-offers">
        <div class="inner-container container">
          <div class="ravis-title-t-2">
            <div class="title">
              <span>Unsere Wohnungen</span>
            </div>
            <div class="sub-title">Sie haben die Wahl</div>
          </div>
          <div class="packages-container clearfix">
            <div class="package-box col-sm-6 col-md-4 col-md-offset-2">
              <div
                class="main-inner-box"
                data-bg-img="/1/1-min.jpg"
              >
                <div class="title-box">
                  <div class="title">Wohnung I</div>
                  <div class="sub-title">Große Wohnung</div>
                </div>
                <div class="price-box">
                  <div class="price">75€</div>
                  <div class="type">pro Nacht/Person</div>
                </div>
                <div class="detail-box">
                  <ul>
                    <li>
                      <div class="inner-box">
                        Jede weitere Person 15€/Nacht
                      </div>
                    </li>
                    <li>
                      <div class="inner-box">
                        Kinder bis 2 Jahre kostenfrei
                      </div>
                    </li>
                    <li>
                      <div class="inner-box">
                        Kinder von 3 bis 10 Jahren 12€/Nacht
                      </div>
                    </li>
                    <li>
                      <div class="inner-box">
                        Bei Aufenthalt von einer Nacht gilt ein Zuschlag von 35€
                      </div>
                    </li>
                    <li>
                      <div class="inner-box">
                        Bei Aufenthalt von zwei Nächten gilt ein Zuschlag von
                        25€
                      </div>
                    </li>
                  </ul>
                </div>
                <a href="/wohnung-1" class="ravis-btn btn-type-2">
                  Zur Wohnung
                </a>
              </div>
            </div>
            <div class="package-box col-sm-6 col-md-offset-0 col-md-4">
              <div
                class="main-inner-box"
                data-bg-img="/2/1-min.jpg"
              >
                <div class="title-box">
                  <div class="title">Wohnung II</div>
                  <div class="sub-title">Kleine Wohnung</div>
                </div>
                <div class="price-box">
                  <div class="price">70€</div>
                  <div class="type">pro Nacht/Person</div>
                </div>
                <div class="detail-box">
                  <ul>
                    <li>
                      <div class="inner-box">
                        Jede weitere Person 15€/Nacht
                      </div>
                    </li>
                    <li>
                      <div class="inner-box">
                        Kinder bis 2 Jahre kostenfrei
                      </div>
                    </li>
                    <li>
                      <div class="inner-box">
                        Kinder von 3 bis 10 Jahren 12€/Nacht
                      </div>
                    </li>
                    <li>
                      <div class="inner-box">
                        Bei Aufenthalt von einer Nacht gilt ein
                        Zuschlag von 35€
                      </div>
                    </li>
                    <li>
                      <div class="inner-box">
                        Bei Aufenthalt von 2 Nächten gilt ein Zuschlag von 25€
                      </div>
                    </li>
                  </ul>
                </div>
                <a href="/wohnung-2" class="ravis-btn btn-type-2">
                  Zur Wohnung
                </a>
              </div>
            </div>
          </div>
        </div>
    </section>
</BaseLayout>
