---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Preisgestaltung">
    <section id="room-top-section">
        <section id="room-slider">
          <div class="items">
            <div class="img-container" data-bg-img="/2/1-min.jpg"></div>
          </div>
          <div class="items">
            <div class="img-container" data-bg-img="/2/2-min.jpg"></div>
          </div>
          <div class="items">
            <div class="img-container" data-bg-img="/2/3-min.jpg"></div>
          </div>
          <div class="items">
            <div class="img-container" data-bg-img="/2/4-min.jpg"></div>
          </div>
          <div class="items">
            <div class="img-container" data-bg-img="/2/5-min.jpg"></div>
          </div>
          <div class="items">
            <div class="img-container" data-bg-img="/2/6-min.jpg"></div>
          </div>
        </section>
        <div class="inner-container container">
          <div class="room-title-box">
            <h1 class="title">Ferienwohnung II</h1>
            <div class="price">
              <div class="title">ab:</div>
              <div class="value">60€</div>
            </div>
          </div>
        </div>
      </section>

      <section class="room-desc">
        <div class="inner-container container">
          <div class="l-sec col-md-8">
            <div class="amenities">
              <ul class="list-inline clearfix">
                <li class="col-md-6">
                  <div class="title">Größe:</div>
                  <div class="value">33 m²</div>
                </li>
                <li class="col-md-6">
                  <div class="title">Personen:</div>
                  <div class="value">max. 3</div>
                </li>
                <li class="col-md-6">
                  <div class="title">Zimmer:</div>
                  <div class="value">2+</div>
                </li>
                <li class="col-md-6">
                  <div class="title">Betten:</div>
                  <div class="value">1 (Doppel)</div>
                </li>
                <li class="col-md-6">
                  <div class="title">Anreise:</div>
                  <div class="value">14.00 bis 19.00 Uhr</div>
                </li>
                <li class="col-md-6">
                  <div class="title">Abreise:</div>
                  <div class="value">bis 10.00 Uhr</div>
                </li>
              </ul>
            </div>
            <div class="description">
              <p>
                Im Wohnzimmer verweilen Sie auf einer bequemen Eckcouch, die für
                das Schlafen umfunktioniert werden kann. Fernsehen können Sie
                auf einem Flachbild-TV.
              </p>
              <p>
                Im Schlafzimmer finden Sie ein französisches 1.60m x 1.80m
                großes Doppelbett, einen Nachttisch mit Lampe für gemütliches
                Lesen im Bett und Bettwäsche.
              </p>
              <p>
                Für die Köchinnen und Köche befinden sich in der umfangreich
                ausgestatteten Küche unter anderem: ein Toaster, eine
                Kaffemaschine, Wasserkocher, Induktionskochfeld mit 2
                Kochfeldern, Mini-Backofen, Kühlschrank mit Gefrierfach,
                Geschirrspüler und entsprechende Taps, Besteck, Kochutensilien,
                Gläser, Geschirr, diverse Reinigungsmaterialien sowie
                Handtücher.
              </p>
              <p>
                Das Bad ist ausgestattet mit Dusche und WC, Föhn, Handtüchern,
                einem kleinen Kosmetikmülleimer, Vergrößerungsspiegel und
                Toilettenpapier.
              </p>
              <p>
                Ein WLAN-Zugang ist in der gesamten Wohnung verfügbar.
              </p>
            </div>
          </div>
          <div style={{ marginTop: "30px" }} class="r-sec col-md-4">
            <div class="room-rating">
              <div class="ravis-title-t-2">
                <div class="title">
                  <span>Wohnung 1</span>
                </div>
              </div>
              <div class="room-container clearfix">
                <div
                  class="room-box animated-box"
                  data-animation="fadeInUp"
                >
                  <div class="inner-box" data-bg-img="/1/1-min.jpg">
                    <a href="/wohnung-1" class="more-info"></a>
                    <div class="caption">
                      <div class="title">Wohnung 1</div>
                      <div class="price">
                        <div class="title">ab:</div>
                        <div class="value">65 €</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
</BaseLayout>
